@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

@font-face { 
  font-family: ChiBlack; 
    src: url('../fonts/DFT_0.ttc'); 
	src: local("ChiBlack"), url('../fonts/DFT_0.ttc'); 
} 

html, body { 
  height: 100%;
  overflow: hidden;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
  background: #000 url(../images/pattern.png);
  color: #444;
}

p { 
  padding: 0 0 10px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
  font-family: 微軟正黑體; 
}

h1, h2, h3 { 
  font: normal 170% "News Cycle", arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #F67400;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #F67400;
  padding: 0 0 5px 0;
  font: normal 130% arial, sans-serif;
}

h5, h6 { 
  color: #555;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #09BCE8;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 5px 40px 15px 40px; 
  padding: 10px 20px 10px 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
  font-size: 20px;
  line-height: 150%;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 11px 80px;
}

ol li { 
  margin: 0 0 11px 60px;
  font-size: 22px;
  line-height: 150%;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 0px auto;
}

#main, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -46px auto;
	padding: 0;
	width: 1020px;
}
#main {
  min-height: 1874px;
  margin: 5px auto 0 auto;
  width: 1020px;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

#movie{
  text-align: center;
  float: left;
  margin-left: 10px;
  /*height: 240px;*/
}

header {
  background: transparent;
  /*height: 670px;*/
}

nav { 
  height: 58px;
  width: 1018px;
  float: left;
  margin: 10px auto 10px auto;
  color: #222;
  background: #333; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#444, #222);
  background: -o-linear-gradient(#444, #222);
  background: -webkit-linear-gradient(#444, #222);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #222;
} 

#site_content { 
  float: left;
  width: 1000px;
  overflow: visible;
  margin: 0 10px 0 10px;
  background: #FFF;
  padding-bottom: 0px;
} 

#sidebar_container { 
  float: right;
  width: 450px;
  padding: 0;
  height: 450px;
}

#content { 
  text-align: left;
  width: 440px;
  margin: 0 0 0 0;
  float: left;
  padding: 0 20px 20px 20px;
}

#img_content { 
  text-align: center;
  width: 1000px;
  margin: 0 0 0 0;
  float: center;
  padding: 10px 0 20px 0;
}

#gallery {
  width: 450px;
  margin: 10px auto;
}

#content ul { 
  margin: 2px 0 22px 0px;
}

#content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

#blog_container h4 {
  font: normal 170% 'News Cycle', arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 5px 0;}

#blog_container h4.select {
  width: 475px;}

.blog {
  background: url(../images/calendar.png) no-repeat;
  width: 54px;
  height: 46px;
  float: left;
  margin: 0 15px 0 0;
}

.blog h2 {
  font: normal 90% arial, sans-serif;
  text-shadow: none;
  text-align: center;
  margin: 0;
  padding: 4px 0 0 0;
  color: #FFF;
}
  
.blog h3 {
  font: 140% arial, sans-serif;
  text-shadow: none;
  margin: -5px 0 0 0;
  text-align: center;
  color: #222;
}

footer { 
  width: 1020px;
  font: 140%  'ChiBlack' ,'News Cycle', arial, sans-serif;
  font-family: 微軟正黑體;
  height: 30px;
  padding: 7px 0 7px 0;
  color: #FFF;
  text-align: center;
  background: #333; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#444, #222);
  background: -o-linear-gradient(#444, #222);
  background: -webkit-linear-gradient(#444, #222);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #222;
  /*margin-top: -46px;*/
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #222;
  text-shadow: none;
  text-decoration: underline;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 100px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #D5D5D5; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 150% 'Yanone Kaffeesatz', arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #333; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#444, #222);
  background: -o-linear-gradient(#444, #222);
  background: -webkit-linear-gradient(#444, #222);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #222;
  color: #FFF;
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #70D4E6;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #D3F2F7;
  color: #47433F;
  border-top: 1px solid #FFF;
}

ul.images {
  width:450px;
  height:366px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
} 

ul.images li {
  position:absolute;
  margin:0;
  padding:0;
  left:0;
  right:0;
  list-style:none;
}
 
ul.images li.show {
  z-index:500;  
}
 
ul img {
  border:none;  
}




/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 160px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 25px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 5px;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #222;
  margin-top: 4px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding: 12px 25px 6px 25px;
  font: 200% 'News Cycle', arial, sans-serif;
  font-family: 微軟正黑體;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
  color: #09BCE8;
  text-shadow: none;
}

.selected {
  font-size: 105%;
}

ul#nav ul li a { 
  color: #FFF;
}

ul#nav ul li a:hover { 
  color: #09BCE8;
  margin-right: 2px;
}



/* Image Transitions */
ul#images {
  margin: 0 15px 10px 0;
  padding: 0;
  list-style: none;
  position: relative;
}

ul#images li {
  display: block;
  overflow: hidden;
  padding: 0;
  float: left;
  width: 155px;
  height: 300px;
}

/* CSS Accordion styles */
dl
{
	padding: 10px;
	min-width: 960px;
}
	dl dt
	{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		margin: 0;
	}
		dl dt a
		{
			color: #003366;
			font-weight: bold;
			text-decoration: none;
			padding: 10px;
			display: block;
		}
	dl dd
	{
		color: #cccccc;
		margin: 0;
		overflow: hidden;
		-webkit-transition: height 1s ease;
		-moz-transition: height 1s ease;
		-o-transition: height 1s ease;
	}
		dl dd p
		{
			padding: 10px;
			margin: 0;
		}
		dl dd dl, dl dd dt
		{
			-webkit-transition: height 1s ease;
			-moz-transition: height 1s ease;
			-o-transition: height 1s ease;
		}

	/*change the height of selected target */
/*
	dl dd:not(:target) { height: 0; }
	dl dd:target { height: 20.667em; }
	dl dd dl dd:not(:target) { height: 0; }
	dl dd dl dd:target { height: 20.667em; }
*/	
	dl a.ie:hover dd,
	dl a.ie:focus dd
	{
		height: auto;
		color: #cccccc !important;
	}
	/* !important means MORE IMPORTANT*/

.flow_chart 
{ 
	text-align: left;
	font-family: 微軟正黑體;
	font-style: normal;	
	padding: 10px; 
	min-width: 960px;
	display: block;
}

.affair_btn
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin: 5px 0 5px 0;
	cursor: pointer;
	color: /*#0099cc*/ #00cc00;
	font-weight: bold;
	padding: 10px;
	font-size: 25px;
	line-height: 140%;
}
.affair_btn:hover{color: /*#66ccff*/ #33ff33 !important;}

/*
.sub_btn
{
	margin-left: 15px;
	font-size: 21px;
	color: #00cc00;
}
.sub_btn:hover{color: #33ff33 !important;}
*/

#sub_btn7
{
	margin-top: 10px;
	color: #FF9900;
}
#sub_btn7:hover{color: #ff6600 !important;}

.hidden_content{ display: none; position: relative;}

.zoominner {
  padding: 5px 10px 10px;
  background: #ffffff;
  text-align: left;
}
#btn_close {
	float: right;
	padding: 8px 0;
	display: block;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;	
	font-family: 微軟正黑體;
}

#map_title{
	float: left;
	padding: 8px 0;
	display: block;
	font-size: 25px;
	font-weight: bold;	
	font-family: 微軟正黑體;
	color: #F91717;
}
#zoom_player{
	position: fixed; 
	z-index: 801; 
	cursor: move; 
	left: 151px; 
	top: 79px; 
	width: 798px; 
	height: 621px;
}

.node {
	font-family: 微軟正黑體;
	font-size: 24px;
	color: #005cb9;
	font-weight: 700;
	padding-bottom: .15em;
	padding-top: .15em;
	padding-left: 20px;
}
.pp{
	font-family: 微軟正黑體;
	font-size: 22px;
	padding-bottom: .15em;
	padding-top: .15em;
	padding-left: 80px;
}
.content_map_linker{
	cursor: pointer; 
	color: #EE0000;
	text-decoration: underline;
}